$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 40px
$header-logo-height-desktop: 50px
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
