$heading-font-family: "ZTBrosOskon90s", serif
$body-font-family: $heading-font-family

$h1-weight: normal

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 80px
$hero-background-color: linear-gradient( 70deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% )
$footer-background-color: none
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
